<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LCQRcodeScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57FA9F8B1D24F20F003149BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57FA9FA41D24F20F003149BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57FA9FAF1D24F20F003149BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
